body{
    background-color: rgb(177, 0, 0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menuI{
    background: rgba(179, 76, 76, 0.397) !important;
}

.titulo {
    font-size: 70px !important;
    padding: 15px !important;
    color: white !important;
}

.logo{
    height: 100px !important;
    width: 285px !important;
    margin-left: 35px;
}

.pez{
    font-weight: bold;
    text-align: center !important;
    margin-left:25% !important;
    margin-right: 25% !important;
}

.espacio{
    margin-left: 5% !important;
    margin-right: 5% !important;
}